
 <h2><%= @text_post.name %></h2>
  <p><%= @text_post.description %></p>

<p><%= link_to "Back", text_posts_path %></p>

<h2><%= link_to "Delete", text_post_path(@text_post), method: :delete, data: { confirm: "delete this post?"} %></h2>