/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_self
 *= require_tree .
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #23527C;
	text-decoration: none!important;

}


body{
padding-top: 70px;
} 


h2 {
color: #23527C;
}

input[type=file]{
    width:190px;
    color:orange;
	background:black;
}


#main_back{
 /* Location of the image */
  /* background-image: image-url('city_lights.jpg'); */
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

} 

.whitey {
background-color:rgba(192,192,192,0.85);
border-radius: 10px;
}

.pure-white {
	border-radius: 7px;
	background:#EEEEEE;
}

.date{
color: grey;
font-size: 1.3rem;
margin-top: .3rem;
}


.user_info{
background-color:rgba(192,192,192,0.85);
border-radius: 5px;
}

.padback {
padding: 30px;
background-color:white;
}


.opaque {
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=50); // IE 5-7
  /* Modern Browsers */
  opacity: 0.5;
}


#text_posts_back {
background: #345212;

}

.text_post_box{
background-color:rgba(192,192,192,0.85);
border-radius: 5px;
	img{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	margin: 0 auto;
	width: 400px;
	float: left;
	}

}

.text_post_upper {
background: white;
width: 400px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
text-align: left;
}

.text_post_lower {
background: white;
width: 400px;
padding: 2em;
margin-bottom: 4em;
margin-top: -1em;
}

.text_post_middle {
background: white;
width: 520px;
padding: 2em;
}


.text_post_center{
width: 400px;
margin:0 auto;
text-align:left;
padding: 40px;
margin-bottom: 3em;
   	img {
	margin-left:3em;
    }
   	 h2 {
	border-bottom: 10px green solid;
   	}
   	p {
	width: 100px;
   	}
}

#image_links_back {
background: orange;
}



input {
margin-bottom: 0.3em;
border-radius: 3px;
padding: 5px;
border: 2px solid white;
opacity: .8;
color: #555555;
border: solid 1px #ccc;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	color: black;
	text-align: center;
}

small {
margin-left: 15px;
}

.center1 {
    width: 400px;
    margin:0 auto;
    text-align:left;
    padding: 20px;
	z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}



.center {
	width: 400px;
    margin:0 auto;
    text-align:left;
    padding: 20px;
	z-index: 0;
}

.center3 {
	width: 400px;
    margin:0 auto;
    
    padding: 20px;
	z-index: 0;


}

a {
	text-decoration: none;
	color: inherit;
}

li {
	margin-left: 3em;
}

/*
#sidebar {
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 7em 0 0 0;
	border-right: 1px solid #d6dce0;
	padding-right: 250px;
	}
*/

#main_content {
	
#header {
		z-index: 10;
		padding: 1em 3em;
		border-bottom: 1px solid #d6dce0;
		background: #f5f7f9;
		color: #9eafba;
		margin-top: -20px;
		text-decoration: none;
		p {
			display: inline;
			}
		a {
			color: #9eafba;
			text-decoration: none;
			}
		.buttons {
			float: right;
			margin-top: -6px;
		.button {
			font-size: .8em;
			margin-left: .5em;
			}
		}
	}
}


#sign_out {
border-radius: 10px;
background: aqua;
display: inline;
}

#account {
line-height: 3em;
display: inline;
margin-right: -20px;
}

#btn1 {
background:none;
border:none;
}

.total-likes {
font-size: 30px;
color:red;
}

.user_side{
background: white;
border-rounded: 5px;
}




.home_pass {
width: 130px;
border: 1px solid blue;
}

.rounded {
background: white;
border-rounded: 5px;
width: 300px;
}

.padding_20 {
padding:10px;
}

.margin-top-20 {
margin-top: -20px;
}

.bg-black {
background: rgba(0,0,0,.3);
border-rounded:10px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}	


.bg-black2 {
background: #2B2E2E;
opacity: .95;
border-rounded:10px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}



.margin-top-40 {
margin-top: 43px;
padding-left: 20px;
padding-right: 20px;
}


.dropboot {
z-index:9995;


}

.text-left {
text-align: left;
}

.blue_text {
color: #9eafba;
z-index: 9990;
}

.float-right {
float:right;
}

.float-left {
float:left;	
}

.bio {

width: 360px;
}

.avatar {
padding-right:20px;
margin-bottom: 20px;

}

.av-width {
	margin-left: -50px;}

.user_name_left {
margin-left: -9em;

margin-right: 1em;
}

.margin-follows {

margin-left: 0em;

margin-right: 1em;

}

.margin-email {

	margin-left: 1em;


} 

.left80 {
	margin-left: -9em;
	margin-top: 20em;}


.scrolling {
height: 100px;
overflow-y: auto;
width: 18.3em;

}

.scrolling-tp {
height: 100px;
overflow-y: auto;
width: 15.3em;
display:inline-block;

}

.scrolling2 {
height: 100px;
overflow-y: auto;
width: 15.3em;

}

p {
text-decoration: none;

}

.top-radius {
border-top-left-radius: 10px;
border-top-right-radius: 10px;


}

.notice {
    position: absolute;
    top: 0;
    left: 50%; 
    right: 50%;
}

a:link{
  text-decoration: none!important;
}


 
 .nav-fade li {
   background: #fff;
   padding: 3px 8px;
   display: inline-block;
   transition: background 1s ease-in-out;
   -moz-transition: background 1s ease-in-out;
   -webkit-transition: background 1s ease-in-out;
   }

   .nav-fade li:hover {
      background: grey;
      }


.make-inline {
position: absolute;
display:inline-block;
float: left;
border-radius: 10px;
}



@media only screen and (max-device-width: 480px) {
	
.margin-pic {
margin-top: 10em;
background: white;

border-top-left-radius: 20px;
border-top-right-radius: 20px;
text-align: left;
}

}


.thinner {

	width: 400px;
	margin-left:20px;
}


.only-inline {
display: inline-block


}